{% extends 'base.html' %}
{% load markdownify %}

{% block main %}
    <main>
        <div>
            <h1>{{ project_details.name }}</h1>
            <p>{{ project_details.description|markdownify }}</p>
            <h2>Tasks</h2>
            <p><a href="{% url 'create_task' %}">Create a new task</a></p>
            {% if project_details.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in project_details.tasks.all %}
                            <tr>
                                <td>{{ t.name }}</td>
                                <td>{{ t.assignee }}</td>
                                <td>{{ t.start_date }}</td>
                                <td>{{ t.due_date }}</td>
                                {% if t.is_completed %}
                                    <td>yes</td>
                                {% else %}
                                    <td>no</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock main %}